@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<div>
    <input type="text" id="GroupText" name="GroupText">
    <input type="button" id="JoinGroup" value="Join Private Group"/>
    <input type="button" id="SendData" value="Send Data"/>
</div>
<hr/>
<div id="data"></div>
<div id="buttons"></div>





<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>